/* 骨組みの記載 */
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin:0;
    padding:50px 0;
    font-size: 32px;
}
header{
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
}
header>p{
    /* 文字サイズ最終調整 */
    font-size: 75%;
}

/* テキストエリアに関する記載 */
.memo{
    width: 75%;
    margin: 0 auto 15px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.midashi{
    display: flex;
    justify-content: left;
    align-items: center;
}
.title,.name{
    width: 25%;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #555;
    font-size: 50%;
}
/* セレクトボックスの文字位置を調整したい */
.kind,.back,.color,.range{
    width: 150px;
    margin: 0 0 15px 15px;
    font-size: 50%;
    cursor: pointer;
}
.kind,.back>option{    
    font-size: 50%;
}
.detail{
    width: 1400px;
    height: 500px;
}
.text_area{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #555;
    font-size:55%;
}

/* ボタン周辺に関する記載 */
ul{
    margin: 0 auto;
    padding: 0; 
    display:flex;
    justify-content: center;
    align-items: center;
}
li{
    width: 250px;
    margin-right: 15px;
    padding: 10px 0; 
    box-sizing: border-box;
    border: 1px solid #555;
    background-color: #FFF;
    list-style-type:none;
    text-align: center;
    font-size: 1vw;
    cursor: pointer;
}
li:hover{
    background: rgb(200, 200, 200);
}
li:last-of-type{
    margin-right: 0;
}
li:last-of-type:hover{
    background: rgb(255, 145, 145);
    font-weight: bold;
}
/* footerについては必要に応じて記載 */
/* footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
footer>small{
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    font-size: 50%;
} */
