/* 骨組みの記載 */
body{
    width: 100vw;
    position: relative;
    margin:0;
    padding:50px 0;
    font-size: 32px;
}
header{
    margin-bottom: 50px;
    background-color: #fff;
}
.page_title{
    margin: auto;
    text-align: center;
    font-weight: bold;
}

/* テキストエリアに関する記載 */
main{
    display: flex;
    flex-direction: column;
}
.memo{
    width: 75%;
    margin: 0 auto 15px;
    padding: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.menu-header{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
}
.menu-header>textarea{
    width: 20%;
    margin-right: 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 50%;
}
.kind{    
    width: 125px;
    font-size: 50%;
}
.back,.color,.range{
    width: 125px;
    margin: 0 15px 15px 0;
    font-size: 50%;
    cursor: pointer;
}
.midashi{
    /* margin-left: -60px; */
    display: flex;
    justify-content: left;
    align-items: center;
}
.detail{
    width: 100%;
    height: 500px;
}
.text_area{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
    /* box-shadow: 1px 1px 1px 1px #555; */
    font-size:55%;
}

/* ボタン周辺に関する記載 */
ul{
    margin: 0 auto 50px;
    padding: 0; 
    display:flex;
    justify-content: center;
    align-items: center;
}
li{
    width: 250px;
    margin-right: 15px;
    padding: 10px 0; 
    box-sizing: border-box;
    border: 1px solid #555;
    background-color: #FFF;
    list-style-type:none;
    text-align: center;
    font-size: 1vw;
    cursor: pointer;
}
li:hover{
    background: rgb(230, 230, 230);
}
li:last-of-type{
    margin-right: 0;
}
li:last-of-type:hover{
    background: rgb(255, 145, 145);
    font-weight: bold;
}
.list_table{
    width: 100%;
}
table{
    width: 75%;
    margin: auto;
    font-size: 50%;
    table-layout: fixed;
}
.memo_tr{ 
    background-color: rgb(230, 230, 230);
}
.memo_tr:hover{ 
    background-color: rgb(230, 230, 230);
}
tr:hover{
    background-color: rgb(255, 145, 145);
}
th{
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border:solid 1px #555;
}
td{
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border:solid 1px #555;
    text-align: center;
}
span{
    cursor:pointer; color:red;
    cursor: pointer;
}
